<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/Design.css" rel="stylesheet" />
    <title>Product Info</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Products</a>
            </div>
        </div>
    </nav>
<div>
    @RenderBody()
</div>
</body>
</html>
